
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Battleship</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    </head>
    <body>

		<!--TO DO
		-Add directions at beginning of game
		-Make a tray for ship pieces (should contain ships, player title, and also maybe show which ships are destroyed/still alive)
		-Allow ships to be placed (potentially rotate ships or drag and drop)
		-Miss function
		-Hit function
		-Destroyed Function
		-Ships are hidden from opposing player
		-Opposing player cant click other players board
		-Win, lose, and game in progress functions and message
		-Different color borders for each team on ship tray (red and blue)
		-Turn timer in middle of screen
		-Reset button

		-->
		<div id="app">
			<div id="trayL">
				<div class="row" v-for="(row,rowIndex) in shipArray1">
						<div class="cell"><img v-if="gameMode == 0 || gameMode == 2" v-on:click="selectShip1(rowIndex,(shipArray1[rowIndex]))" v-bind:src="imageForShips(shipArray1[rowIndex])"></div>
				</div>
				<div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="rotateShip1">Rotate Ship</button></div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="resetShips1">Reset Ships</button></div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="sitP1">Sit as player1</button></div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="commitShips1">Ready</button></div>
					<div class="button"><button v-if="gameMode == 2" v-on:click="restart">Play Again</button></div>
				</div>
			</div>
			<div id="playerOne">
				<div class="title">
					<div class="cellTitle"><img src="img/blank.png"></div>
					<div class="cellTitle"><img src="img/a.png"></div>
					<div class="cellTitle"><img src="img/b.png"></div>
					<div class="cellTitle"><img src="img/c.png"></div>
					<div class="cellTitle"><img src="img/d.png"></div>
					<div class="cellTitle"><img src="img/e.png"></div>
					<div class="cellTitle"><img src="img/f.png"></div>
					<div class="cellTitle"><img src="img/g.png"></div>
					<div class="cellTitle"><img src="img/h.png"></div>
					<div class="cellTitle"><img src="img/i.png"></div>
					<div class="cellTitle"><img src="img/j.png"></div>
				</div>
				<div class="row" v-for="(row,rowIndex) in boardArray1">
					<div class="cellTitle"><img v-bind:src="imageForNum(numArray[rowIndex])"></div>
					<div class="cell" v-on:click="shootSquare1(rowIndex,colIndex,(boardArray1[rowIndex][colIndex]))" v-for="(col,colIndex) in row"><img v-bind:src="imageFor(boardArray1[rowIndex][colIndex])"></div>
				</div>
			</div>

			<!-- DrKow: I modified this section to make it loop through shipArray instead of having everything hard coded.  Note how the click handler uses the rowIndex and colIndex in order to communicate what got clicked on. -->
			<div id="playerTwo">
				<div class="title">
					<div class="cellTitle"><img src="img/blank.png"></div>
					<div class="cellTitle"><img src="img/a.png"></div>
					<div class="cellTitle"><img src="img/b.png"></div>
					<div class="cellTitle"><img src="img/c.png"></div>
					<div class="cellTitle"><img src="img/d.png"></div>
					<div class="cellTitle"><img src="img/e.png"></div>
					<div class="cellTitle"><img src="img/f.png"></div>
					<div class="cellTitle"><img src="img/g.png"></div>
					<div class="cellTitle"><img src="img/h.png"></div>
					<div class="cellTitle"><img src="img/i.png"></div>
					<div class="cellTitle"><img src="img/j.png"></div>
				</div>
				<div class="row" v-for="(row,rowIndex) in boardArray2">
					<div class="cellTitle"><img v-bind:src="imageForNum(numArray[rowIndex])"></div>
					<div class="cell" v-on:click="shootSquare2(rowIndex,colIndex,(boardArray2[rowIndex][colIndex]))" v-for="(col,colIndex) in row"><img v-bind:src="imageFor(boardArray2[rowIndex][colIndex])"></div>
				</div>
			</div>
			
			<div id="trayR">
				<div class="row" v-for="(row,rowIndex) in shipArray2">
						<div class="cell"><img v-if="gameMode == 0 || gameMode == 2" v-on:click="selectShip2(rowIndex,(shipArray2[rowIndex]))" v-bind:src="imageForShips(shipArray2[rowIndex])"></div>
				</div>
				<div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="rotateShip2">Rotate Ship</button></div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="resetShips2">Reset Ships</button></div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="sitP2">Sit as player2</button></div>
					<div class="button"><button v-if="gameMode == 0" v-on:click="commitShips2">Ready</button></div>
					<div class="button"><button v-if="gameMode == 2" v-on:click="restart">Play Again</button></div>
				</div>
			</div>
			<div id="message">
				<h2>{{message}}</h2>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="client.js"></script>
</html>
