body {
    background-image: url(img/BS-Background.jpg);
}

.cell {
	display: table-cell;
	border: 1px solid skyblue;
	background-size: 100% 100%;
}

.cell img {
	width: 100%;
}

.title {
    display: table-row;
    width: 100%;
}

.row {
	display: table-row;
	width: 100%;
}

#map {
	display: table;
	float: left;
    width: 20%;
    height: 20%;
	margin-left: 7%;
	margin-right: 7%;
	
	background-image: url('img/water.jpg');
	background-size: 100% 100%;
}

#blueTray {
	display: table;
	float: left;
	width: 16%;
	margin-left: 7%;
	margin-right: 7%;
	background-color: rgba(255, 255, 255, .5); /* 0.0 would be see-through and 1.0 would be opaque.  */
}